
          <div class="row line-item">
            <div class="col-md-10">
              <div class="fav_body">
                <h2><%= link_to "#{line_item.movie.title_ru}", movie_path(line_item.movie) %></h2>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fav_body trash">
                <%= link_to '', line_item_path(line_item.movie_id), class: "fa fa-trash", method: :delete %>
              </div>
            </div>
          </div>
